@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
@import "../homepage/style/header.css";
@import "../homepage/style/footer.css";
@import "../homepage/style/badge.css";
@import "../homepage/style/container.css";
@import "../css/button.css";
@import "../variable.css";
@import "../product-list/products_container.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

body{
    font-size: calc(0.70em + 1vmin);
}

.cursor-pointer{
    cursor:pointer;
}

@media screen and (min-width: 851px) {    
    div.card_resize{             
        height:350px;
    }
     div.home_main_content {
      font-size: 40px;
    }
  }
  
@media screen and (max-width: 850px) {
    div.card_resize{        
        width:150px;
        height:250px;        
    }
    div.home_main_content {
        font-size: 20px;
    }
}