:root{
    --grey-color: #9ca3af;
    --black-color: #000000;
    --white-color: #ffffff;
    --red-color: #FF0000;
    --golden-color: #EECB59;
    --overlay: rgba(0, 0, 0, 0.5);
    --card-color: #2D260B;
    --yellow-color: #fcba03;
    --blue-color:#0052cc;
    --lightgrey-color:#e6e1d5;
    --lightblue-color:#bfff80;
    --order-button:#57b2eb;
    --aqua-color:aqua;
}