.image-logo{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.nav-bar {
    background-color: var(--black-color);
    color: var(--white-color);
    margin:auto;
    max-width: 100%;
    height:auto;    
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.brand_name{
    color: var(--golden-color);
    font-weight: 600;
    margin-right: 0.5rem;
}

.search-textbox{
    width: 35rem;
    height: 2rem;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.overflow{
    overflow: hidden;
}

header a,
footer a{
    text-decoration: none;
    color: var(--grey-color);
}